name: Build & Release

permissions:
  contents: write
  
on:
  push:
    tags:
      - "v*"
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build DeathCounter
      uses: sayyid5416/pyinstaller@v1.8.0
      with:
        spec: 'DeathCounter.spec'
        upload_exe_with_name: DeathCounter
        requirements: 'deathcounter/requirements.txt'
        options: --onedir, --noconfirm

    - name: Build Updater
      uses: sayyid5416/pyinstaller@v1.8.0
      with:
        spec: 'updater.spec'
        upload_exe_with_name: updater
        requirements: 'deathcounter/requirements.txt'
        options: --onedir, --noconfirm

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact A
        uses: actions/download-artifact@v4
        with:
          name: DeathCounter
          path: artifacts/DeathCounter

      - name: Download artifact B
        uses: actions/download-artifact@v4
        with:
          name: updater
          path: artifacts/updater

      - name: Zip both artifacts
        run: |
          mkdir -p dist
          cd artifacts
          zip -r ../dist/DeathCounter_win.zip .

      - name: Create GitHub release and upload zip
        uses: softprops/action-gh-release@v2
        with:
          files: dist/DeathCounter_win.zip
