name: Build & Release

permissions:
  contents: write
  
on:
  push:
      tags:
        - "v*"
  release:
    types: [published]
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set version
      run: |
        echo __version__ = \"${{ github.ref_name }}\" > deathcounter/version.py
      shell: bash

    - name: Install deps
      run: pip install -r deathcounter/requirements.txt
    
    - name: PyInstaller Action
      uses: Martin005/pyinstaller-action@v1.2.0
      with:
        spec: 'deathcounter/DeathCounter.spec'
        entry-point: deathcounter/main.py
        additional-data: "deathcounter/assets;deathcounter/assets"
        name: DeathCounter
        one-dir: true
        noconsole: true
        
    - name: Zip build
      run: |
        powershell Compress-Archive dist/DeathCounter DeathCounter_win.zip

    - name: Upload asset
      uses: softprops/action-gh-release@v1
      with:
        files: DeathCounter_win.zip
