name: Build & Release

permissions:
  contents: write
  
on:
  push:
      tags:
        - "v*"
  release:
    types: [published]
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set version.py from tag
      shell: bash
      run: |
        echo "__version__ = '${GITHUB_REF_NAME#v}'" > deathcounter/utils/version.py
        cat deathcounter/utils/version.py

    - name: Versatile PyInstaller
      uses: sayyid5416/pyinstaller@v1.8.0
      with:
        spec: 'DeathCounter.spec'
        requirements: 'deathcounter/requirements.txt'
        upload_exe_with_name: DeathCounter
        options: --onedir, --noconsole, --name DeathCounter

        
    - name: Zip build
      run: |
        powershell Compress-Archive dist/DeathCounter DeathCounter_win.zip

    - name: Upload asset
      uses: softprops/action-gh-release@v2
      with:
        files: DeathCounter_win.zip
