name: Build & Release

permissions:
  contents: write
  
on:
  push:
      tags:
        - "v*"
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Versatile PyInstaller
      uses: sayyid5416/pyinstaller@v1.8.0
      with:
        spec: 'DeathCounter.spec'
        requirements: 'deathcounter/requirements.txt'
        options: --onedir, --clean, --noconfirm

    - name: 'add build to release'
      run: |
        mkdir release
        xcopy dist\DeathCounter release\DeathCounter /E /I

    
    - name: Build updater
      uses: sayyid5416/pyinstaller@v1.8.0
      with:
        spec: 'updater.spec'
        options: --onefile, --clean, --noconfirm
        
    - name: Package release zip
      run: |
        echo "Workspace contents:"
        dir
        echo "Dist contents:"
        dir dist

        mkdir release
        xcopy dist\updater release\updater /E /I

        powershell Compress-Archive -Path release\* -DestinationPath DeathCounter_win.zip

    - name: Upload asset
      uses: softprops/action-gh-release@v2
      with:
        files: DeathCounter_win.zip
