name: Build & Release

permissions:
  contents: write
  
on:
  push:
      tags:
        - "v*"
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    

    - name: Set version
      shell: pwsh
      run: |
        $version = "${{ github.ref_name }}".TrimStart('v')
        Set-Content deathcounter/version.txt $version
        
    - name: Show version file
      run: |
        echo "Version file contents:"
        cat deathcounter/version.txt

    - name: Versatile PyInstaller
      uses: sayyid5416/pyinstaller@v1.8.0
      with:
        spec: 'DeathCounter.spec'
        requirements: 'deathcounter/requirements.txt'
        upload_exe_with_name: DeathCounter
        options: --onedir, --clean, --noconfirm, --name DeathCounter

    
    - name: Build updater
      uses: sayyid5416/pyinstaller@v1.8.0
      with:
        spec: 'updater.spec'
        upload_exe_with_name: updater
        options: --onefile, --clean, --noconfirm, --name updater
        
    - name: Zip build
      run: |
        powershell Compress-Archive dist DeathCounter_win.zip

    - name: Upload asset
      uses: softprops/action-gh-release@v2
      with:
        files: DeathCounter_win.zip
