name: Build & Release

on:
  push:
      tags:
        - "v*"
  release:
    types: [published]
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set version
      run: |
        echo __version__ = \"${{ github.ref_name }}\" > deathcounter/version.py
      shell: bash

    - name: Install deps
      run: pip install -r deathcounter/requirements.txt
    
    - name: Build
      run: python -m PyInstaller --onedir --noconsole --add-data "deathcounter\assets;deathcounter/assets" --name "DeathCounter" deathcounter\main.py
              
    - uses: vimtor/action-zip@v1.2
      with:
        files: dist/DeathCounter
        dest: DeathCounter_win.zip

    - name: Upload asset
      uses: softprops/action-gh-release@v1
      with:
        files: DeathCounter_win.zip
